.navbar {
  position        : sticky;
  top             : 0;
  background-color: var(--secondary-color);
  color           : fff;
  height          : 4rem;
  box-shadow      : 1px 1px 50px 10px;
  z-index         : 100;

}

.navbar ul {
  display          : flex;
  /* flex-direction: row; */
  align-items      : flex-start;
  margin-right     : 3rem;
}

.navbar a,
.navbar i {
  color: var(--primary-color);

  font-size  : 1.15rem;
  font-weight: bold;
  padding    : 20px;
  /* margin  :0 0.5rem; */

}

.navbar a:hover {
  background-color: #f0f0f0;
  border-right    : 0.5rem solid #a7ff04;
  ;
  color: var(--secondary-color)
}

.navbar .logo {
  font-family : "Staatliches", cursive;
  font-weight : bolder;
  font-size   : 1.5rem;
  color       : #a7ff04;
  border-color: 1px rgb(255, 0, 0);
  margin-left : 0.5rem;
  cursor      : pointer;
}


.navbar .navbar-sign {
  /* border : 1px solid rgb(255, 255, 255); */
  /* border-radius: 5px; */
  padding: 2px 2px 2px 12px;
  margin : 0px 0 0 0;
}

.navbar .navbar-sign i:hover {
  color: #333;
}

.navbar .user-img {
  height       : 80px;
  width        : 80px;
  border-radius: 50px;

  cursor: pointer;
}

.navbar .user-name:hover {
  background-color: unset;
  border          : none;
  color           : var(--primary-color);
}


/* dropdown */

.dropdown {
  float: left;
  /* overflow: hidden; */
}

.dropdown .dropbtn {
  border: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #fff;
  color: #333;
}

.dropdown-content {
  display: none;
  position:   absolute;
  background-color: #f9f9f9;
  margin: 16px  0 0 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
