

 <div class="login">
   <div class="login-form card   ">

     <h1 class="text-center">Welcome to your site</h1>
      <!-- <p>
          پست الکترونیک خود را وارد کنید
      </p> -->
      <div>
          <!-- <div class="flex flex-email">

              <a href="https://gmail.com" class="btn btn-around bg-primary alert-error">
                  <i class="fab fa-google fa-2x"> </i>
              </a>

              <a href="https://github.com" class="btn btn-around bg-primary alert-success">
                  <i class="fab fa-github fa-2x"></i>
              </a>


          </div> -->
      </div>

   <form action="">
      <!-- <div class="form-control">
          <input type="text" name="name" placeholder="نام کاربری" required>

      </div>
      <div class="form-control">
          <input type="text" name="Compony" placeholder="Compony Name" required>

      </div> -->
          <div class="form-control">
              <input type="email" name="email" placeholder="ایمیل" required>

          </div>
          <div class="form-control">
              <input type="password" name="password" placeholder="رمز عبور" required>

          </div>
          <div>
              <input type="checkbox" name="remember" placeholder="رمز عبور" required>
              <span class=""> مرا به خاطر بسپار</span>

          </div>

          <input type="submit" value="ورود/ ثبت" class="btn btn-primary bg-secondary submit">

          <a href="profile.html"><span> رمز عبورتان را گم کرده‌اید؟</span></a>
      </form>

  </div>
</div>
